<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Contact</th>
          <th scope="col">Address</th>
          <th scope="col">Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <th scope="row"> {{user.id}} </th>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.contact_number }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.gender }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
